.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  height: 50vh;
}

.App-main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-main > section:nth-child(1) {
  height: 20vh;
  background-color: #0b66a6;
}

.App-main > section:nth-child(2) {
  box-sizing: border-box;
  height: 30vh;
  background-color: #111d46;
}

input, button {
  background-color: #282c34;
  border: 1px solid #61dafb;
  color: #61dafb;
  font-size: calc(10px + 1vmin);
  padding: 5px;
}

input:disabled, button:disabled {
  border-color: #aaa;
  color: #aaa;
}
